<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<style>

	*{box-sizing: border-box;}

	body{background color: white;}

	h1{text-align: center;
		color: red;
		font-size: 300%;
		font-family: Arial Rounded MT Bold;}

	section{width: 100%; position: relative;}

	div{background-color: gray;
		position: relative; 
		border: 1px;
		margin: 10px;}

	.s1{background-color: lightcoral; 
		float: right; 
		width: 100px;
		text-align: center; 
		border: 1px solid black; 
		margin-top: 0px;
		font-family: Arial Rounded MT Bold;}

	.s2{background-color: #CD6155; 
		float: right; 
		width: 100px; 
		text-align: center; 
		color: white; 
		border: 1px solid black; 
		margin-top: 0px;
		font-family: Arial Rounded MT Bold;}

	.s3{background-color: #F1C40F; 
		float: right; 
		width: 100px; 
		text-align: center; 
		border: 1px solid black; 
		margin-top: 0px;
		font-family: Arial Rounded MT Bold;}

	.content{clear: right;
		padding: 10px;
		font-family: HelVetica;}

		@media(min-width: 992px){.column-lg-4{float: left; width: 33.33%}}

		@media(min-width: 768px) and (max-width: 991px) {.column-md-6 {float: left; width: 50%} .column-md-12 {float: left; width: 100%} }

		@media(max-width: 767px) {.column-sm-12 {float: left; width: 100%}}


</style>
</html